
<div><h1>Shrtnr</h1></div>

<div class="alert alert-success" ng-show="success">
  <h1>{{ message }}</h1>
</div>
<div class="alert alert-warning" ng-show="warning">
  <h1>{{ message }}</h1>
</div>
<div class="alert alert-danger" ng-show="error">
  <h1>{{ message }}</h1>
</div>


<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button
          class="btn btn-default"
          ng-click="shortenURL()"
          type="button">
          shorten
        </button>
      </span>
      <input
        type="text"
        class="form-control"
        ng-model="longURL"
        placeholder="http://www.youtube.com/watch?v=eh7lp9umG2I">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        Short URL
      </span>
      <input
        type="text"
        class="form-control"
        ng-model="shortURL"
        placeholder="heman">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

